# Enables additional SSH access to instances
#
# To allow SSH access to additional people, add their public SSH keys here
# To remove SSH access from someone, remove their key from the list

files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDA/Fjn6fGpLiPcPTKruEyjUoEGIxzXrsUKqhfquO14BwA/Y3wY/9W/hZFJ7Zxe3/B3UBXI+6vQhkfM7l9qPvjU7sXOr8AtruR56q/FqnGv2XROWvii4swTLUq+fTESHvw65tU4JxjR1PZckDwxRxh9DEQaxSwfL1R4iHH50/dot3vn+ccX5KZAWsU8wfneZ95H5hMVzS7WDTSnlDFUShQ7WI/kwQ8g+YIeU99WTCw42s/rraoZy0KvYWiffXKJiLKv2flvI4Lw0qwlZbLonH0udLjBNW8Dxr2O1wr8/NKK485AO16MfqSUeRrm2if0niEHLix4SCAdkeppiWGkuN/jV4hcxRUWifn8JN3E05ScPNPegfQeY/WO3ZAS0D1GVpoTr8ck8mQkMrgx++uWJgjDH84pg3KskYXa/vKZwn5USsMQ+zSe30o8nUK3vUhz97TOCBI78tA0FglY4Ug/waZhRwc/96DFdS5UMH6+sg/iQEQUNeK35T9Sor7VzfxxmaKt2oUMJLDwTUzFgcvEJkyCYs5JD/RIn3fGHCRZ9vMTRKOa68Tl2YfrNfD87Q1rLAXllgu24Llq9O7WZOPqRGI5A84N7Hb2ZV0InvhNlZqD4j+Ifd9z1oQDXZym0QLSsIiIv9eKDGUojw+jwUDqf7Xf99Wnv8/QYLFEsiI/g1wzlw== awolski
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCb4zzpiWZA6Fks06WDYtVGENyJS4HBdoV3X6FjPmUiOG+R7nRo1dD+S5Zapz0itM+f4gal3HDX8w4IRYX5ngRWb/cpx9kjFa6rimZPan8WJ4rlreZqMdoIT0bxWQawbYU7120CshnmRRN07pOFtwfsaNn5+o1dE/P0qGTldBjDqOJLWCeFCBQKTsqQbLBGT4Ands0ilAE21WxCSEXQhS4MzlZbTCSM07MB2goTdGLiku6NLRrPt5FQcb4LvqnYJI3THwAO7vgoKR0xZEpxiOJNgN/fQ+bO13F6ulCTXTPpCncZji5p9nZnfwi4v0LHHmeGkFtrznibJ+ZM5YZQscvX iperdomo
