# Creates a utility script /home/ec2-user/db-connect.sh to simplify connecting to DocumentDB

files:
    "/home/ec2-user/db-connect.sh":
        mode: "000744"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash

            set -eu
            set -o pipefail

            command -v mongo >/dev/null 2>&1 || {
              echo >&2 "mongo is required but it's not installed. Installing.";
              echo -e "[mongodb-org-3.6] \nname=MongoDB Repository\nbaseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/3.6/x86_64/\ngpgcheck=1 \nenabled=1 \ngpgkey=https://www.mongodb.org/static/pgp/server-3.6.asc" | sudo tee /etc/yum.repos.d/mongodb-org-3.6.repo
              yum install -y mongodb-org-shell
            }

            username=$(grep MONGO_URL /var/app/current/.env | cut -d/ -f3 | cut -d@ -f1 | cut -d: -f1)
            password=$(grep MONGO_URL /var/app/current/.env | cut -d/ -f3 | cut -d@ -f1 | cut -d: -f2)
            host=$(grep MONGO_URL /var/app/current/.env | cut -d/ -f3 | cut -d@ -f2)

            mongo --ssl --host "$host" --sslCAFile /var/app/current/rds-combined-ca-bundle.pem --username "$username" --password "$password"
