# Initialise environment variables
container_commands:
  01-init:
    command: |
      export AWS_DEFAULT_REGION=`{ "Ref": "AWS::Region" }`

      DB_HOST=$(aws ssm get-parameter --name ooi-sample-db-host | jq -r .Parameter.Value)
      DB_NAME=$(aws ssm get-parameter --name ooi-sample-db-name | jq -r .Parameter.Value)
      DB_USER=$(aws ssm get-parameter --name ooi-sample-db-user --with-decryption | jq -r .Parameter.Value)
      DB_PASS=$(aws ssm get-parameter --name ooi-sample-db-pass --with-decryption | jq -r .Parameter.Value)

      TLS_CA=/etc/ssl/certs/rds-combined-ca-bundle.pem
      echo "DB_URL=mongodb://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/?tls=true&tlsCAFile=/etc/ssl/certs/rds-combined-ca-bundle.pem&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false" >> .env
      echo "DB_NAME=${DB_NAME}" >> .env
      echo "MONGO_TLS_CA=${TLS_CA}" >> .env
